<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  {{#unless score}}
  <script>
    const nbActions = {{ nbActions }};
    const eventSource = new EventSource(window.location.pathname + "/sse");
    eventSource.onmessage = (message) => {
      if (message.data != "" && message.data != nbActions) {
        window.location.reload()
      }
    };
  </script>
  {{/unless}}
  <title>Aqualin</title>
  <link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>

<body>
  <div id="page">
    <h1>Aqualin</h1>
    <div id="game">
      <div id="playerSide">
        <div class="turnPanel">
          {{#if isWitnessGame }}
            {{#if score}}
              <div>This Aqualin game is finished.</div>
            {{else}}
              <div>You watch the <span>{{gameState.playerTurn}}</span> team in this Aqualin game.</div>
            {{/if}}
          {{else}}
            <div> You are the <span>{{playerTeam}}</span> team.</div>
            {{#if score}}
              <div>This Aqualin game is finished.</div>
            {{else}}
              {{#if isPlayerTurn}}
                <div> It's your turn.</div>
              {{else}}
                <div> It's your opponent turn.</div>
              {{/if}}
            {{/if}}
          {{/if}}
        </div>

        <div class="hintPanel">
          <h3>Hints</h3>
          <form class="hintForm" id="hintForm" method="post" action="/game/{{id}}/showHint">
            {{#renderHint @root}}{{/renderHint}}
            {{#if intermediateScores}}
              <div>my score: {{intermediateScores.myScore}}</div>
              <div>my opponent score: {{intermediateScores.opponentScore}}</div>
            {{/if}}
            {{#gt exploredPossibilities 0}}
              Explored Possibilities : {{exploredPossibilities}}
            {{/gt}}
          </form>

        </div>
      </div>

      <div id="boardSide">
        <h2>Board</h2>

        <div class="board">
          {{#each gameState.board}}
            {{#each this}}
              {{! call renderCell with the game template, the row index and column index
              @root is our game template, "this" is the cell}}
              {{#renderCell this @root @../index @index}}{{/renderCell}}
            {{/each}}
          {{/each}}
        </div>

        {{#if score}}
          <div id="scorePanel">
              <div class="score">{{#renderScore score}}{{/renderScore}}</div>
          </div>
        {{/if}}
        {{#if message}}
        <div class="errorMessage">{{message}}</div>
        {{/if}}
      </div>
      <div id="riverSide">
        <h2>River</h2>
        <div id="river">
          {{#each gameState.river}}
            {{#renderRiver this @root @index}}{{/renderRiver}}
          {{/each}}
        </div>
      </div>
    </div>

  </div>
  <script>
    const elements = document.getElementsByName("hint");
    console.log(elements);
    for (const el of elements) {
      el.addEventListener("change", () => {
        document.getElementById("hintForm").submit();
      });
    }
  </script>
</body>

</html>
