<html>
  <head>
    <meta charset="UTF-8" />
    <title>Aqualin</title>
  </head>
  <style>
    body { background-color: #005379; } #page { display: flex; flex-direction:
    column; align-items: center; } h1 { font-size: 50px; font-weight: bolder;
    color: white; margin: 30px; } h2 { font-size: 30px; font-weight: bolder;
    color: white; margin: 30px; } #game { display: flex; width: 100%; flex-wrap:
    wrap; } #playerSide { display: flex; flex-direction: column; width: 25%;
    justify-content: center; text-align: center; align-items: flex-end; }
    #boardSide { display: flex; flex-direction: column; width: 50%;
    justify-content: center; align-content: center; align-items: center; }
    .board { border-radius: 4px; display: grid; gap: 13px;
    grid-template-columns: repeat(6, 80px); grid-template-rows: repeat(6, 80px);
    grid-auto-flow: row; background-color: #bbf5f9; padding: 20px; width: auto;
    } #river { border-radius: 4px; display: grid; gap: 13px; grid-template-rows:
    repeat(6, 80px); background-color: #bbf5f9; padding: 20px; width: 80px; }
    .boardCell { background-color: #111764; color: #fff; border-radius: 4px;
    padding: 20px; font-size: 150%; } .riverCell { background-color: #111764;
    color: #fff; border-radius: 4px; padding: 20px; font-size: 150%; }
    .headerBoardSide { padding-top: 10px; } p { font-size: 20px; color: #ffa2c3;
    font-weight: bolder; }
  </style>
  <body>
    <div id="page">
      <h1>Aqualin</h1>

      <div id="game">
        <div id="playerSide">
          <div>
            {{#if author}}
              <h1>{{firstName}} {{lastName}}</h1>
            {{/if}}
            <h2>Player 1 : {{playerOne.name}}</h2>
            <p>{{playerOne.role}}</p>
          </div>

          <div>
            <h2>Player 2 : {{playerTwo.name}}</h2>
            <p>{{playerTwo.role}}</p>
          </div>
        </div>
        <div id="boardSide">
          <h2>Board</h2>
          <div class="board">
            {{#each board}}
              {{#each this}}
                <div class="boardCell">{{this}}</div>
              {{/each}}
            {{/each}}
          </div>
        </div>
        <div id="riverSide">
          <h2>River</h2>
          <div id="river">
            {{#each river}}
              <div class="riverCell">{{this}}</div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
